node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.local
.DS_Store
*.log
dist
build
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

